<html>

<head>
    <title>CUIMIMI</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mynerve&display=swap" rel="stylesheet">
</head>

<body>

    <nav class="d-f justify-c align-c c-2 h6-2nd t-t-u">
        <ul class="d-f justify-c align-c g-16">
            <li class=""><a href="/" class="p8 px16 ">home</a></li>
            <li class=""><a href="/trace" class="p8 px16">trace the threads</a></li>
            <li class="active"><a href="/dulce" class="p8 px16">Gallery</a></li>
            <li class=""><a href="/insideout" class="p8 px16"><img src="images/things/Mail.png" alt=""></a></li>
        </ul>
    </nav>



    <main class="mt-76 pb-80 g-20 col-center" id="dulce">

    </main>


    <footer class="d-f justify-sa align-c c-8 h6-2nd bg-linear-6">
        <div>By Quynh-Anh Dao Thi - Margaret Dao</div>
        <div class="d-f justify-sa align-c g-16"><img src="images/things/mail-2.png" alt="">
            <p>quynhanhdao517@gmail.com</p>
        </div>
    </footer>

    <script src="javascripts/index.js">

    </script>

    <script>
        let main = document.querySelector('main');
        let imgs = [
            'images/dulce/1.png',
            'images/dulce/2.png',
            'images/dulce/3.png',
            'images/dulce/4.png',
            'images/dulce/5.png',
            'images/dulce/6.png',
            'images/dulce/7.png',
            'images/dulce/8.png',
            'images/dulce/9.png',
            'images/dulce/10.png',
            'images/dulce/11.png',
            'images/dulce/12.png',
            'images/dulce/13.png',
            'images/dulce/14.png',
            'images/dulce/15.png',
            'images/dulce/16.png',
            'images/dulce/18.png',
            'images/dulce/17.png',
        ]
        imgs.forEach(img => {
            let div = document.createElement('div');
            div.classList.add
            let imgEl = document.createElement('img');
            imgEl.src = img;
            div.appendChild(imgEl);
            main.appendChild(div);
        })
    </script>
</body>

</html>