<html>

<head>
    <title>CUIMIMI</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mynerve&display=swap" rel="stylesheet">
</head>

<body>

    <nav class="d-f justify-c align-c c-2 h6-2nd t-t-u">
        <ul class="d-f justify-c align-c g-16">
            <li class=""><a href="/" class="p8 px16 ">home</a></li>
            <li class=""><a href="/dulce" class="p8 px16">dulce presente</a></li>
            <li class="active"><a href="/trace" class="p8 px16">trace the threads</a></li>
            <li class=""><a href="/insideout" class="p8 px16"><img src="images/things/mail.png" alt=""></a></li>
        </ul>
    </nav>


    <main id="lemat-content" class="trace-content mt-76 pb-80">
        <div style="max-width: 1368px; margin: auto;">
            <section class="trace-header c-4 h3-2nd">
                SLINKING
            </section>
            <section class="gallery poem-container p20">
                <div>
                    <img src="images/lemat/cover.png" alt="lemat cover">
                </div>
                <div class="poem-length h6-2nd p16 ">
                    <span class="gradient-text bg-linear-4 d-i-b">29 images</span>
                </div>
            </section>
            <section style="white-space: pre;" class="h6-2nd">
            Despite having visited Lệ Mật Snake Village multiple times during my childhood, I somehow managed to avoid encountering
            any snakes there. While I secretly yearned for the experience, my younger self found the idea quite nightmarish. When
            Trường, a close friend of mine, revealed that he lived a stone’s throw away from Lệ Mật, I knew I would finally meet
            some serpentine fellas.
            
            Having a friend as your guide means exploring the hidden gems. From the outside, Lệ Mật village might look like any
            other bustling urban area, but a local can show you the centuries-old practice of snake farming slinking beneath the
            city’s veneer. Truong told me that. unlike the more obvious snake restaurants and farms, the most authentic ones are
            tucked away in quiet alleys. And on a sun-drenched afternoon, we set off to visit one such place.
            
            Passing through the picturesque shrine and temple of Lệ Mật, Trường told me about the legend behind Lệ Mật's snake
            farming heritage from the 11th century*. There was a man named Hoàng who lived by snake-catching. One day, the princess
            was enjoying her boat ride when Giảo Long, a monstrous serpent-like creature, lunged from the depths, dragging her
            underwater. Hoàng courageously vanquished the water beast to salvage the princess, returning her body to the king. Even
            though he was offered lavish rewards in return, Hoàng only wished for his village to settle new land to the east of
            Thang Long Citadel, which was granted. That was the inception of Lệ Mật Village. The villagers then took up
            snake-catching to pay tribute to their hero.  
            
            Snake-catching and, later, snake farming once thrived in Lệ Mật, providing a significant source of income for many
            families. The combination of high demand, high profit and the growing popularity of thrill-seeking tourism led to a boom
            in snake-related businesses. Snake products, from meat to leather goods, were highly sought after. However, the industry
            faced a decline due to increasing moral concerns and wildlife protection efforts. The pandemic further exacerbated this
            downturn, with many snake farms and restaurants struggling to survive the prolonged lockdowns.
            
            I was thinking we were lost when Trường told me we had arrived at one of the most renowned snake restaurants in Lệ Mật,
            oddly situated in a secluded neighborhood. Its entrance had an otherworldly feel, shrouded by verdant foliage. Inside
            was a menagerie of exotic animals with cages lining the porch, housing birds, snakes, and other reptiles, filling the
            air with a pungent odor. Our presence must have ruffled some feathers, as the winged creatures started to screech in
            unison. The snakes remained eerily calm, unfazed even by our blinding camera flashes. Mr Lập, the owner, seemed
            unperturbed by this hair-raising commotion. He led us to their showroom of various products from snakes -  from bags,
            wallets, and belts to boots, shoes, and watch straps - all with a hefty price tag. But it was the bottles of cobras
            steeped in herbs and alcohol that fascinated us the most. 
            
            As the staff started pacing along the hallway and checking the cages, unease took hold of me. The thought of the animals
            I had seen being prepared for consumption filled me with dread and…guilt and an overwhelming urge to leave.  And when a
            senior staff read the day’s orders to Mr. Lap  “Five rat snakes, four cobras,...”, we slunk off. 
            
            On the verge of canceling the trip from that unsettling experience,  we stumbled upon a small snake garden mainly
            catering to homestay guests. The owner invited us to join him and his guests for a meal of snake egg omelet, stir-fried
            snake, and wine tasting. His collection of snake and reptile wines was awe-inspiring, with jars of exotic concoctions
            lining the shelves like specimens collected by a mad scientist. While the owner was preparing the meal, his mother
            showed us where they raised the snakes. Curiously, they kept the snakes inside bonsai pots covered with glass lids and
            ceramic urns around the house, which was rather disturbing. While I wanted to stay longer to talk with the friendly
            owners and guests, the familiar aroma of freshly cooked omelet made my stomach churn, and I knew I had to step away.
            
            We went on to explore Lệ Mật's picturesque historical sites, but moral questions were swirling in my mind. While
            learning about their snake farming practices was enlightening, I couldn't shake the feeling that younger generations
            might view this legacy differently. Although concerns about overexploitation and illegal harvesting have largely been
            addressed**, the ethical dilemma of valuing a culture built on animal sacrifice still resonates with young people like
            Trường and me. As Lệ Mật became a city-level tourist attraction***, celebrating its unique snake farming and culinary
            traditions, the tension between preserving culture and respecting animal welfare became increasingly apparent. In the
            meantime, the attention is on developing tourism and promoting all-things-snakes as the village's quintessence.
            
            As the sun dipped below the horizon, Lệ Mật awakened its urban spirit. Yet, in quiet alleys, hordes of wild animals were
            confined to cramped, claustrophobic cages, awaiting painful deaths for the amusement of “adventurous” souls. A legacy
            that felt increasingly unsettling persisted.
            
            
            
            * https://www.bienphong.com.vn/truyen-thuyet-lang-xa-post16950.html
            **Aust PW, Van Tri N, Natusch DJD, Alexander GJ. Asian snake farms: conservation curse or sustainable enterprise? Oryx.
            2017;51(3):498-505. doi:10.1017/S003060531600034X
            ***https://nguoihanoi.vn/lang-ran-le-mat-chinh-thuc-tro-thanh-diem-du-lich-cap-thanh-pho-ha-noi-84200.html
                
                 
            </section>
        </div>

        <div class="t-t-c col-center"><a href="/trace" class="h5-2nd bg-linear-1 gradient-text">go back</a></div>

        <section id="preview">
            <div class="poem-prev">
                <img src="images/things/arrow-left.png" alt="">
            </div>
            <div id="poem-preview"></div>
            <div class="poem-next">
                <img src="images/things/arrow-right.png" alt="">
            </div>
        </section>
    </main>

    <footer class="d-f justify-sa align-c c-8 h6-2nd bg-linear-3">
        <div>By Quynh-Anh Dao Thi - Margaret Dao</div>
        <div class="d-f justify-sa align-c g-16"><img src="images/things/mail-2.png" alt="">
            <p>quynhanhdao517@gmail.com</p>
        </div>
    </footer>
    <script>
        let poems = {
            1: {
                title: "SLINKING",
                thumbnail: "images/lemat/cover.png",
                //55 images
                imgs: [
                    "images/lemat/1.png",
                    "images/lemat/2.png",
                    "images/lemat/3.png",
                    "images/lemat/4.png",
                    "images/lemat/5.png",
                    "images/lemat/6.png",
                    "images/lemat/7.png",
                    "images/lemat/8.png",
                    "images/lemat/9.png",
                    "images/lemat/10.png",
                    "images/lemat/11.png",
                    "images/lemat/12.png",
                    "images/lemat/13.png",
                    "images/lemat/14.png",
                    "images/lemat/15.png",
                    "images/lemat/16.png",
                    "images/lemat/17.png",
                    "images/lemat/18.png",
                    "images/lemat/19.png",
                    "images/lemat/20.png",
                    "images/lemat/21.png",
                    "images/lemat/22.png",
                    "images/lemat/23.png",
                    "images/lemat/24.png",
                    "images/lemat/25.png",
                    "images/lemat/26.png",
                    "images/lemat/27.png",
                    "images/lemat/28.png",
                    "images/lemat/29.png",
                ]
            },
        }

        let currentPoem = 0;
        let currentPoemImg = 0;
        let preview = document.getElementById('preview');
        let poemPreview = document.getElementById('poem-preview');
        let poemContainers = document.querySelectorAll('.poem-container');
        let poemPrev = document.querySelector('.poem-prev');
        let poemNext = document.querySelector('.poem-next');

        poemContainers.forEach((poemContainer, index) => {
            poemContainer.addEventListener('click', () => {
                preview.style.display = 'flex';
                // poemPreview.classList.add('row-center');

                currentPoem = index + 1;
                console.log(currentPoem);
                poemPrev.style.display = 'block';
                poemPrev.style.opacity = 1;
                poemNext.style.display = 'block';
                poemNext.style.opacity = 1;
                poemPreview.innerHTML = `
                        <div> <img src="${poems[currentPoem].imgs[currentPoemImg]}" alt="${poems[currentPoem].title}"> </div>
                        `
            })
        })
        poemPrev.addEventListener('click', () => {
            currentPoemImg = currentPoemImg === 0 ? poems[currentPoem].imgs.length - 1 : currentPoemImg - 1;

            if (currentPoemImg === 0) {
                poemPrev.style.opacity = 0;
                poemPrev.style.display = 'none';
                poemNext.style.display = 'block';
                poemNext.style.opacity = 1;
            } else {
                poemNext.style.display = 'block';
                poemNext.style.opacity = 1;
                poemPrev.style.opacity = 1;
                poemPrev.style.display = 'block';
            }
            poemPreview.innerHTML = `
                        <div> <img src="${poems[currentPoem].imgs[currentPoemImg]}" alt="${poems[currentPoem].title}"> </div>
                        `
        })
        poemNext.addEventListener('click', () => {
            currentPoemImg = currentPoemImg === poems[currentPoem].imgs.length - 1 ? 0 : currentPoemImg + 1;

            if (currentPoemImg === poems[currentPoem].imgs.length - 1) {
                poemPrev.style.display = 'block';
                poemPrev.style.opacity = 1;
                poemNext.style.opacity = 0;
                poemNext.style.display = 'none';
            } else {
                poemPrev.style.display = 'block';
                poemPrev.style.opacity = 1;
                poemNext.style.display = 'block';
                poemNext.style.opacity = 1;
            }
            poemPreview.innerHTML = `
                        <div> <img src="${poems[currentPoem].imgs[currentPoemImg]}" alt="${poems[currentPoem].title}"> </div>
                        `

        })

        preview.addEventListener('click', (e) => {
            if (e.target === preview)
                preview.style.display = 'none';
        })

    </script>

    <script>
        let activeLiHtml = [
            `
              <img src="/images/things/quote-left.png" alt="">
              home
              <img src="/images/things/quote-right.png" alt="">
            `,
            `
              <img src="/images/things/quote-left.png" alt="">
              dulce presente
              <img src="/images/things/quote-right.png" alt="">
            `,
            `
              <img src="/images/things/quote-left.png" alt="">
              trace the threads
              <img src="/images/things/quote-right.png" alt="">
            `,
            `
              <img src="/images/things/quote-left.png" alt="">
              <img src="/images/things/mail.png" alt="">
              <img src="/images/things/quote-right.png" alt="">
            `
        ]
        let normalLiHtml = [
            `<a href="/" class="p8 px16 ">home</a>`,
            `<a href="/dulce" class="p8 px16 ">dulce presente</a>`,
            `<a href="/trace" class="p8 px16 ">trace the threads</a>`,
            `<a href="/insideout" class="p8 px16 "><img src="images/things/mail.png" alt=""></a>`
        ]
        //active nav
        let lis = document.querySelectorAll('nav li');
        activeNav();
        function activeNav() {
            lis.forEach((li, index) => {
                if (li.classList.contains('active')) {
                    li.innerHTML = activeLiHtml[index]
                } else {
                    li.innerHTML = normalLiHtml[index]
                }
            })
        }


        //add active class when click
        lis.forEach(li => {
            li.addEventListener('click', () => {
                lis.forEach(li => {
                    li.classList.remove('active')
                })
                li.classList.add('active')
                activeNav()
            })
        })
    </script>
</body>

</html>