<html>

<head>
    <title>CUIMIMI</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mynerve&display=swap" rel="stylesheet">
</head>

<body>

    <nav class="d-f justify-c align-c c-2 h6-2nd t-t-u">
        <ul class="d-f justify-c align-c g-16">
            <li class=""><a href="/" class="p8 px16 ">home</a></li>
            <li class="active"><a href="/trace" class="p8 px16">trace the threads</a></li>
            <li class=""><a href="/dulce" class="p8 px16">Gallery</a></li>
            <li class=""><a href="/insideout" class="p8 px16"><img src="images/things/Mail.png" alt=""></a></li>
        </ul>
    </nav>


    <main id="nhattan-content" class="trace-content mt-76 pb-80">
        <div style="max-width:  70%; margin: auto;">
            <section class="trace-header c-4 h3-2nd">
                DOOMED BLOOM
            </section>
            <section class="row-center bg-milk main-content">
                <section class="gallery-container ">
                    <div class="img-con">
                        <div class="main-img-container">
                            <img id="main-image" src="images/nhattan/1.png" alt="">
                        </div>
                        <div class="prev" onclick="changeSlide(-1)">
                            <img src="images/things/arrow-left.png" alt="">
                        </div>
                        <div class="next" onclick="changeSlide(1)">
                            <img src="images/things/arrow-right.png" alt="">
                        </div>
                    </div>
                    <div class="preview-container">
                        <!-- to be handle using js -->
                    </div>
                </section>
                <section class="text-content p20 h6-2nd"> </section>
            </section>
        </div>

        <div class="t-t-c col-center"><a href="/trace" class="h5-2nd bg-linear-1 gradient-text">go back</a></div>

    </main>

    <footer class="d-f justify-sa align-c c-8 h6-2nd bg-linear-3">
        <div>By Quynh-Anh Dao Thi - Margaret Dao</div>
        <div class="d-f justify-sa align-c g-16"><img src="images/things/mail-2.png" alt="">
            <p>quynhanhdao517@gmail.com</p>
        </div>
    </footer>
    <script>
        let blocks = [
            `I visited Nhật Tân Flower Village on a rainy afternoon, two weeks after Typhoon Yagi wreaked havoc on Northern Vietnam. Not that it had been raining all day, however—the morning was mercilessly hot. School ended at 11:30, and I headed home in a sizzling overcoat. At 2 PM, however, the sky had already cloaked itself in storm-brewing shadows.`,
            `We decided to weather the downpour because we couldn’t delay the trip any longer. After seeing the photos of farmers staring at hectares of trees that they have cultivated for decades half-dead from the bottom up, I was compelled to visit Nhật Tân to grasp the true extent of damage this village had to bear`,
            `Nhật Tân Village is Hanoi’s main source of the Vietnamese New Year’s spirit flowers and plants and is most well-known for its peach blossom orchards.  Every year, in lunar December, the area bursts into mesmerizing floral hues with Peach Blossom, Kumquat, Daisy, and many other contestants vying for the crown of the most dazzling. Blossoming flowers and plants are considered the harbinger of Spring and the physical embodiment of Tet’s spirit, and people come from all over the country to Nhật Tân to bring a piece of this essence home.`,
            `The origin of this village is shrouded in myths, but local elders embrace a popular legend: In the first century when Annan ( southern Vietnam) was an imperial protectorate of the Tang dynasty,  Gao Pian - the Chinese military governor - established his army base in the area of modern-day Phu Thuong, which is a neighboring ward of Nhật Tân. To ease their homesickness and mark the passage of time, the men brought peach blossom trees from the Hoang Lien Son mountains to plant in this area. Every year, the flowers blossomed, reminding them of how much closer they were to home. Later, when Annan was no longer under the Tang’s colonization, peach blossom trees continued to be cultivated in Phu Thuong and Nhật Tân, eventually becoming the soul of this area and the mainstay of Hanoi’s Tet celebration.`,
            `Growing peach blossom trees has been the main source of income for Nhật Tân villagers for centuries. The flower plants are carefully tended to throughout the year to bloom during the months of the Tet festival. They are then sold in branches of different sizes or as topiary pieces, adorning homes, offices, and public places with their beauty and spiritual significance. Peach blossom trees are embraced like family members, with some having been there for centuries, living through the ups and downs of a resilient flower village.`,
            `In recent years, changing weather patterns have affected peach blossom harvests. Colder and longer winters have delayed the blooming, causing orchards to miss the lucrative pre-Tet market. New Year. Experienced growers, who have spent generations cultivating these delicate trees, are grappling with unprecedented challenges, while newer orchards are increasingly turning to less weather-dependent crops.`,
            `Even the most meticulous preparations cannot fully shield these orchards from the wrath of nature, however. During the historic Typhoon Yagi, over 80 hectares of peach blossom orchards in Nhật Tân district were submerged as the Red River’s water level swelled to unprecedented levels. Upon hearing the flood alert, the orchard owners braved the torrential rain to check on their orchards. Desperate to save their potted trees, many risked their own safety and waded through the rising floodwaters to move them to higher ground, while the grounded trees were helpless victims of the flood. The water only receded three days later, revealing dying trees covered in mud.`,
            `The recovery process will be long and arduous. Replanting the orchards will take three to four years, a devastating blow for those who depend on Tet flowers for their livelihood. As I witnessed the devastation firsthand, I was struck by the resilience of the local farmers. Despite the overwhelming loss, they remained determined to rebuild their orchards.`,
            `Beyond the economic toll, the storm exposed the deep-rooted social inequalities in the region. Nhật Tân, once a thriving agricultural community, is now surrounded by luxury high-rises and expat residences. However, the area's proximity to the Red River makes it vulnerable to flooding, limiting its suitability for residential development. Many farmers, unable to afford the exorbitant cost of relocating, are trapped in a cycle of poverty and vulnerability.`,
            `Every natural disaster brought home the stark reality of how climate change disproportionately affects those who rely on nature for their livelihoods, often the most vulnerable communities. Speaking with an elderly farmer, whose home was a makeshift tent beside his orchard, I realized the social inequality hidden beneath the 'inner district” label. Even though Nhật Tân Flower Village was surrounded by luxury real estate and expat residences, lying next to the landmark West Lake, the proximity to the Red River makes it vulnerable to flooding, limiting its suitability for residential development. Many farmers, unable to afford the exorbitant cost of relocating, are trapped in a cycle of poverty and vulnerability. As many’s sole source of income was selling trees at Tet, they bet their year-long efforts on the mercy of the elements, which had left their livelihoods in ruins this year.`,
            `I aimed my camera at the orchard, where surviving branches clawed at the fading light. The farmers, assuming I was a journalist, asked me to photograph them clearing away the dead trees. "For people to see that we're chopping down our own gardens," one farmer said, his voice weary. Another, returning from the orchard, added bitterly, "But what's left to keep?"`,
            `We set off home as the farmer I had spoken to was finishing up plowing the soil for replanting.  And when raindrops started drumming on my helmet, I wondered if the rain could nourish fragile buds of hope on his young trees and revive the bloom of Nhat Tan Flower Village.`
        ]

        let images = [
            {src: 'images/nhattan/1.png', type: 'landscape'},
            {src: 'images/nhattan/7.png', type: 'portrait'},
            {src: 'images/nhattan/3.png', type: 'landscape'},
            {src: 'images/nhattan/5.png', type: 'portrait'},
            {src: 'images/nhattan/8.png', type: 'portrait'},
            {src: 'images/nhattan/9.png', type: 'portrait'},
            {src: 'images/nhattan/10.png', type: 'portrait'},
            {src: 'images/nhattan/13.png', type: 'portrait'},
        ]
    </script>
    <script src="javascripts/trace.js"></script>
    <script src="javascripts/index.js">

    </script>
</body>

</html>