<html>

<head>
    <title>CUIMIMI</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mynerve&display=swap" rel="stylesheet">
</head>

<body>

    <nav class="d-f justify-c align-c c-2 h6-2nd t-t-u">
        <ul class="d-f justify-c align-c g-16">
            <li class=""><a href="/" class="p8 px16 ">home</a></li>
            <li class="active"><a href="/trace" class="p8 px16">trace the threads</a></li>
            <li class=""><a href="/dulce" class="p8 px16">Gallery</a></li>
            <li class=""><a href="/insideout" class="p8 px16"><img src="images/things/Mail.png" alt=""></a></li>
        </ul>
    </nav>


    <main id="nhattan-content" class="trace-content mt-76 pb-80">
        <div style="max-width: 1368px; margin: auto;">
            <section class="trace-header c-4 h3-2nd">
                DOOMED BLOOM
            </section>
            <section class="gallery poem-container p20">
                <div>
                    <img src="images/nhattan/cover.png" alt="nhattan cover">
                </div>
                <div class="poem-length h6-2nd p16 ">
                    <span class="gradient-text bg-linear-4 d-i-b">12 images</span>
                </div>
            </section>
            <section style="white-space: pre;" class="h6-2nd">
            I visited Nhật Tân Flower Village on a rainy afternoon, two weeks after the Typhoon Yagi wreaked havoc on Northen
            Vietnam. Not that it had been raining all day, however—the morning was mercilessly hot. School ended at 11:30, and I
            headed home in a sizzling overcoat. At 2 PM, however, the sky had already cloaked itself in storm-brewing shadows. 
            
            We decided to weather the downpour because we couldn’t delay the trip any longer. After seeing the photos of farmers
            staring at hectares of trees that they have cultivated for decades half-dead from the bottom up, I was compelled to
            visit Nhật Tân to grasp the true extent of damage this village had to bear.
            
            Nhật Tân Village is Hanoi’s main source of the Vietnamese New Year’s spirit flowers and plants and is most well-known
            for its peach blossom orchards.  Every year, in lunar December, the area bursts into mesmerizing floral hues with Peach
            Blossom, Kumquat, Daisy, and many other contestants vying for the crown of the most dazzling. Blossoming flowers and
            plants are considered the harbinger of Spring and the physical embodiment of Tet’s spirit, and people come from all over
            the country to Nhật Tân to bring a piece of this essence home.
            
            The origin of this village is shrouded in myths, but local elders embrace a popular legend: In the first century when
            Annan ( southern Vietnam) was an imperial protectorate of the Tang dynasty,  Gao Pian - the Chinese military governor -
            established his army base in the area of modern-day Phu Thuong, which is a neighboring ward of Nhật Tân. To ease their
            homesickness and mark the passage of time, the men brought peach blossom trees from the Hoang Lien Son mountains to
            plant in this area. Every year, the flowers blossomed, reminding them of how much closer they were to home. Later, when
            Annan was no longer under the Tang’s colonization, peach blossom trees continued to be cultivated in Phu Thuong and Nhật
            Tân, eventually becoming the soul of this area and the mainstay of Hanoi’s Tet celebration.* 
            
            Growing peach blossom trees has been the main source of income for Nhật Tân villagers for centuries. The flower plants
            are carefully tended to throughout the year to bloom during the months of the Tet festival. They are then sold in
            branches of different sizes or as topiary pieces, adorning homes, offices, and public places with their beauty and
            spiritual significance. Peach blossom trees are embraced like family members, with some having been there for centuries,
            living through the ups and downs of a resilient flower village. 
            In recent years, changing weather patterns have affected peach blossom harvests. Colder and longer winters have delayed
            the blooming, causing orchards to miss the lucrative pre-Tet market. New Year. Experienced growers, who have spent
            generations cultivating these delicate trees, are grappling with unprecedented challenges, while newer orchards are
            increasingly turning to less weather-dependent crops**.
            Even the most meticulous preparations cannot fully shield these orchards from the wrath of nature, however. During the
            historic Typhoon Yagi, over 80 hectares of peach blossom orchards in Nhật Tân district were submerged as the Red River’s
            water level swelled to unprecedented levels. Upon hearing the flood alert, the orchard owners braved the torrential rain
            to check on their orchards. Desperate to save their potted trees, many risked their own safety and waded through the
            rising floodwaters to move them to higher ground. while the grounded trees were helpless victims of the flood. The water
            only receded three days later, revealing dying trees covered in mud. 
            The recovery process will be long and arduous. Replanting the orchards will take three to four years, a devastating blow
            for those who depend on Tet flowers for their livelihood. As I witnessed the devastation firsthand, I was struck by the
            resilience of the local farmers. Despite the overwhelming loss, they remained determined to rebuild their orchards.
            Beyond the economic toll, the storm exposed the deep-rooted social inequalities that persist within the region. Nhật
            Tân, once a thriving agricultural community, is now surrounded by luxury high-rises and expat residences. However, the
            area's proximity to the Red River makes it vulnerable to flooding, limiting its suitability for residential development.
            Many farmers, unable to afford the exorbitant cost of relocating, are trapped in a cycle of poverty and vulnerability.
            Every natural disaster brought home the stark reality of how climate change disproportionately affects those who rely on
            nature for their livelihoods, often the most vulnerable communities. Speaking with an elderly farmer, whose home was a
            makeshift tent beside his orchard, I realized the social inequality hidden beneath the 'inner district” label. Even
            though Nhật Tân Flower Village was surrounded by luxury real estate and expat residences, lying next to the landmark
            West Lake, the area's proximity to the Red River makes it vulnerable to flooding, limiting its suitability for
            residential development. Many farmers, unable to afford the exorbitant cost of relocating, are trapped in a cycle of
            poverty and vulnerability. As many’s sole source of income was selling trees at Tet, they bet their year-long efforts on
            the mercy of the elements, which had left their livelihoods in ruins this year.
            As I tried to capture images of decayed orchards, the farmers, assuming I was a journalist, asked me to photograph them
            clearing away dead trees. “For people to see that we’re chopping down our own gardens”, one farmer told me. Another,
            returning from the orchard, added a bitter “But what’s left to keep?”
            We set off home when the farmer I had spoken to was finishing up plowing the soil for replanting. And when raindrops
            started drumming on my helmet, my thoughts lingered on the man and his young peach blossom trees. 
            *https://laodong.vn/xa-hoi/lo-hoa-no-som-nguoi-trong-dao-nhat-tan-thap-thom-ngong-thoi-tiet-994348.ldo
            **https://vovgiaothong.vn/lang-nhat-tan-phan-1-lich-su-manh-dat-trong-dao-d25513.html
            ***https://www.qdnd.vn/kinh-te/cac-van-de/vuon-dao-nhat-tan-bi-xoa-so-sau-mua-lu-794865

            </section>
        </div>

        <div class="t-t-c col-center"><a href="/trace" class="h5-2nd bg-linear-1 gradient-text">go back</a></div>

        <section id="preview">
            <div class="poem-prev">
                <img src="images/things/arrow-left.png" alt="">
            </div>
            <div id="poem-preview"></div>
            <div class="poem-next">
                <img src="images/things/arrow-right.png" alt="">
            </div>
        </section>
    </main>

    <footer class="d-f justify-sa align-c c-8 h6-2nd bg-linear-3">
        <div>By Quynh-Anh Dao Thi - Margaret Dao</div>
        <div class="d-f justify-sa align-c g-16"><img src="images/things/mail-2.png" alt="">
            <p>quynhanhdao517@gmail.com</p>
        </div>
    </footer>
    <script>
        let poems = {
            1: {
                title: "DOOMED BLOOM",
                thumbnail: "images/nhattan/cover.png",
                //55 images
                imgs: [
                    "images/nhattan/1.png",
                    "images/nhattan/2.png",
                    "images/nhattan/3.png",
                    "images/nhattan/4.png",
                    "images/nhattan/5.png",
                    "images/nhattan/6.png",
                    "images/nhattan/7.png",
                    "images/nhattan/8.png",
                    "images/nhattan/9.png",
                    "images/nhattan/10.png",
                    "images/nhattan/11.png",
                    "images/nhattan/12.png",
                ]
            },
        }

        let currentPoem = 0;
        let currentPoemImg = 0;
        let preview = document.getElementById('preview');
        let poemPreview = document.getElementById('poem-preview');
        let poemContainers = document.querySelectorAll('.poem-container');
        let poemPrev = document.querySelector('.poem-prev');
        let poemNext = document.querySelector('.poem-next');

        poemContainers.forEach((poemContainer, index) => {
            poemContainer.addEventListener('click', () => {
                preview.style.display = 'flex';
                // poemPreview.classList.add('row-center');

                currentPoem = index + 1;
                console.log(currentPoem);
                poemPrev.style.display = 'block';
                poemPrev.style.opacity = 1;
                poemNext.style.display = 'block';
                poemNext.style.opacity = 1;
                poemPreview.innerHTML = `
                        <div> <img src="${poems[currentPoem].imgs[currentPoemImg]}" alt="${poems[currentPoem].title}"> </div>
                        `
            })
        })
        poemPrev.addEventListener('click', () => {
            currentPoemImg = currentPoemImg === 0 ? poems[currentPoem].imgs.length - 1 : currentPoemImg - 1;

            if (currentPoemImg === 0) {
                poemPrev.style.opacity = 0;
                poemPrev.style.display = 'none';
                poemNext.style.display = 'block';
                poemNext.style.opacity = 1;
            } else {
                poemNext.style.display = 'block';
                poemNext.style.opacity = 1;
                poemPrev.style.opacity = 1;
                poemPrev.style.display = 'block';
            }
            poemPreview.innerHTML = `
                        <div> <img src="${poems[currentPoem].imgs[currentPoemImg]}" alt="${poems[currentPoem].title}"> </div>
                        `
        })
        poemNext.addEventListener('click', () => {
            currentPoemImg = currentPoemImg === poems[currentPoem].imgs.length - 1 ? 0 : currentPoemImg + 1;

            if (currentPoemImg === poems[currentPoem].imgs.length - 1) {
                poemPrev.style.display = 'block';
                poemPrev.style.opacity = 1;
                poemNext.style.opacity = 0;
                poemNext.style.display = 'none';
            } else {
                poemPrev.style.display = 'block';
                poemPrev.style.opacity = 1;
                poemNext.style.display = 'block';
                poemNext.style.opacity = 1;
            }
            poemPreview.innerHTML = `
                        <div> <img src="${poems[currentPoem].imgs[currentPoemImg]}" alt="${poems[currentPoem].title}"> </div>
                        `

        })

        preview.addEventListener('click', (e) => {
            if (e.target === preview)
                preview.style.display = 'none';
        })

    </script>

    <script src="javascripts/index.js">

    </script>
</body>

</html>