<html>

<head>
    <title>CUIMIMI</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mynerve&display=swap" rel="stylesheet">
</head>

<body>

    <nav class="d-f justify-c align-c c-2 h6-2nd t-t-u">
        <ul class="d-f justify-c align-c g-16">
            <li class=""><a href="/" class="p8 px16 ">home</a></li>
            <li class="active"><a href="/trace" class="p8 px16">trace the threads</a></li>
            <li class=""><a href="/dulce" class="p8 px16">Gallery</a></li>
            <li class=""><a href="/insideout" class="p8 px16"><img src="images/things/Mail.png" alt=""></a></li>
        </ul>
    </nav>


    <main id="thachxa-content" class="trace-content mt-76 pb-80">
        <div style="max-width:  70%; margin: auto;">
            <section class="trace-header c-4 h3-2nd">
                Perfect Precarity
            </section>
            <section class="row-center bg-milk main-content">
                <section class="gallery-container ">
                    <div class="img-con">
                        <div class="main-img-container">
                            <img id="main-image" src="images/thachxa/6.png" alt="">
                        </div>
                        <div class="prev" onclick="changeSlide(-1)">
                            <img src="images/things/arrow-left.png" alt="">
                        </div>
                        <div class="next" onclick="changeSlide(1)">
                            <img src="images/things/arrow-right.png" alt="">
                        </div>
                    </div>
                    <div class="preview-container">
                        <!-- to be handle using js -->
                    </div>
                </section>
                <section class="text-content p20 h6-2nd"> </section>
            </section>
        </div>

        <div class="t-t-c col-center"><a href="/trace" class="h5-2nd bg-linear-1 gradient-text">go back</a></div>

    </main>

    <footer class="d-f justify-sa align-c c-8 h6-2nd bg-linear-3">
        <div>By Quynh-Anh Dao Thi - Margaret Dao</div>
        <div class="d-f justify-sa align-c g-16"><img src="images/things/mail-2.png" alt="">
            <p>quynhanhdao517@gmail.com</p>
        </div>
    </footer>

    <script>
        let blocks = [
            `“48 kilometers!?”`,
            `The motorcycle immediately slowed down. I just told my brother that our destination was on the other side of Hanoi and he was surely flabbergasted. He turned to Tuấn, who was riding alongside us:`,
            ` “It’s gonna take more than an hour!”, he warned,`,
            `But his high school classmate replied with a nonchalant “I know”, while I was smiling ear-to-ear under two layers of UV-proof masks.`,
            `The ambitious plan, which had only been disclosed to one of my companions before this D-Day, was a cross-city motorcycle ride to Thạch Xá Bamboo Dragonfly Village in Thạch Thất District to visit a long-standing bamboo dragonfly workshop and try our hands at making the delicate childhood treasure.`,
            `This craft toy has captured my fascination ever since a classmate gave me an ocean-blue bamboo dragonfly in primary school. Even though I lost it on the same day (the resulting grief of which made a mainstay in my episodes of childhood nostalgia), the perfect balance of the dragonfly on my fingertip has enthralled me ever since.`,
            `After riding for one hour and a half under the merciless heat, one-third of which was spent on finding our way back to the correct route, we arrived at Thạch Xá Bamboo Dragon Village. Like most suburban areas of Hanoi, major thoroughfares are occupied by heavy-duty vehicles, while roadside establishments include a wide range of industrial supply stores. Loudy, dusty, and mechanical, this bustling business seems like a world away from the residential and quaint inner areas.`,
            `Our destination was the workshop of Mr. Đỗ Văn Liên and Mrs. Nguyễn Thị Liên, one of the few remaining in the village. The decades-old atelier, the first floor of their house, was inside an alley only as wide as my arm span, uncharted on Google Map. Mrs. Liên and her co-worker were lost in work and conversation when we arrived, and we stayed still to catch that cinematic moment: Deftly and delicately, they whittled life into the straw-colored bamboo pieces before assembling them into dragonflies, butterflies, turtles, and birds with their little pedestals. A symphony of clicks accompanied the artisan’s accented chats - I could only make out the part of sun-dried poles exploding under intense heat, injuring an unlucky woman while she was checking her bundles.`,
            `Our presence was noticed at last, and Mrs. Liên warmly welcomed us in. We gathered around a wooden table, which was dotted with the artistic efforts of countless visitors throughout the years, while she prepared the tools for our “hands-on experience”. Watching my brother struggle to find the right wing to make his bamboo dragonfly perch perfectly on the stand, I asked her every question my 8-year-old self had to shelve until that very day.`,
            `Mrs. Liên told me about the heyday of bamboo dragonflies when the craft was the prized source of income for most households in the village, hence the name - Thạch Xá Bamboo Dragonfly Village. Now, only a handful of production workshops for bamboo animal figures remain, including hers, as demand for this type of toy has fallen steadily. Craft toys were naturally ousted from the children’s repertoire of favorites by modern forms of amusement, but those unable to be “technologized” like bamboo dragonflies, bore the brunt of modernization.`,
            `Although I have learned about the sunset of bamboo dragonfly-making craft, the revelation that only two workshops remain sent a chill down my spine. How can a formally designated craft village consign the preservation of its essence to a handful of senior artisans?`,
            `While explaining to the other artisan how she could not participate in the special parade of Hanoi’s cultural custodians for the 70th anniversary of the city’s Liberation Day because of an urgent order from Hong Kong, Mrs. Liên showed us the process of decorating a dragonfly. She swiftly drew floral patterns on the body and wings with white paint. After the lines have dried somewhat, the petals and leaves are colored. The figure then goes under a light shower of glitters, before being added eyes and transformed into an animated creature.`,
            `After ensuring I correctly remembered the steps by making Tuấn - an art student -  paint a dragonfly for reference, I set out to animate my own.`,
            `While this decorative technique is the time-honored standard of bamboo dragonfly-making, Mrs Liên has been rejuvenating her craft with some contemporary elements, starting with custom-made designs. While retailers adapted their order specifications to keep pace with customers’ ever-evolving interests, organizations, companies, and even government agencies have entrusted their diplomatic messages in these rustic gifts by requesting special patterns. She explained that the customization option has attracted many major orders for the workshop, allowing them to diversify their products while staying up-to-date with the latest trends.`,
            `In addition to up-to-date designs, Mrs. Liên has also taken her marketplace online. One of the first things I noticed surveying the atelier was delivery boxes - packaged online orders ready for delivery. She told me, smiling proudly, how online shopping took her products to customers nationwide, or, in her words, “ let bamboo dragonflies fly across the country”.`,
            `As my artist friend was drawing tracheoles for a butterfly figure, my brother tried to make his dragonfly successfully perch for the hundredth time. Without the right pair of wings, the poor creature wavered precariously in the air; its tiny “peak” was the only anchor to the stand. Watching the curious sight of the bamboo dragonfly losing balance but never falling off, I thought of the current state of Thạch Xá and its craft. The fact that only two workshops are still producing bamboo animal figures gave me goosebumps, and with the family’s artistic tradition cut short as her children pursued other ambitions, Mrs. Liên told me, I could see nothing but a grim future for these bamboo animal figures.`,
            `But just like how a tottering bamboo dragonfly resolutely hangs on by its tiny anchor, this handicraft is balanced on a perfectly precarious footing. Thanks to a handful of devoted artisans still seeking to innovate their signature products, Thạch Xá’s fading essence continues to draw cultural enthusiasts from all corners of the world to its rapidly industrialized hometown, who are likely to bring home not only a fleet of multi-colored dragonflies but also a stinging realization of the perishability of traditional crafts.`,
            `By the time we bid farewell to the artisans, the decorations on our dragonflies hadn’t dried properly yet because we kept tinkering with the details - a dot of yellow here, a dash of green there, so I let them rest in the underseat department on our way home. And it dawned on me - the beauty of bamboo dragonflies is in its innate precarious balance - on our fingertips, on their little stands, never in the security of a container.`,
            `Perhaps, the craft, too,  is alluring because of its perfectly precarious existence, anchored only in the hearts of heritage stewards and admirers.`
        ]

        let images = [
            { src: 'images/thachxa/6.png', type: 'landscape' },
            { src: 'images/thachxa/3.png', type: 'landscape' },
            { src: 'images/thachxa/4.png', type: 'landscape' },
            { src: 'images/thachxa/13.png', type: 'landscape' },
            { src: 'images/thachxa/19.png', type: 'landscape' },
            { src: 'images/thachxa/8.png', type: 'landscape' },
            { src: 'images/thachxa/9.png', type: 'landscape' },
            { src: 'images/thachxa/10.png', type: 'landscape' },
            { src: 'images/thachxa/11.png', type: 'landscape' },
            { src: 'images/thachxa/14.png', type: 'landscape' },
            { src: 'images/thachxa/17.png', type: 'landscape' },
            { src: 'images/thachxa/20.png', type: 'landscape' },
            { src: 'images/thachxa/7.png', type: 'landscape' },
            { src: 'images/thachxa/18.png', type: 'landscape' },
        ]
    </script>
    <script src="javascripts/trace.js"></script>
    <script src="javascripts/index.js">

    </script>
</body>

</html>