<html>

<head>
    <title>CUIMIMI</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mynerve&display=swap" rel="stylesheet">
</head>

<body>

    <nav class="d-f justify-c align-c c-2 h6-2nd t-t-u">
        <ul class="d-f justify-c align-c g-16">
            <li class=""><a href="/" class="p8 px16 ">home</a></li>
            <li class="active"><a href="/trace" class="p8 px16">trace the threads</a></li>
            <li class=""><a href="/dulce" class="p8 px16">Gallery</a></li>
            <li class=""><a href="/insideout" class="p8 px16"><img src="images/things/Mail.png" alt=""></a></li>
        </ul>
    </nav>




    <main class="mt-76 pb-80" id="trace">
        <section id="welcome" class="row-center">
            <!-- <div class="h1-2nd">TRACE THE THREADS</div> -->
        </section>

        <section id="main-body">
            <div id="cub" class="pos-abs">
                <img src="images/trace/cub.png" alt="">
            </div>
            <div id="battrang" class="pos-abs" onclick="goto('/battrang', 1)">
                <img src="images/trace/battrang.png" alt="">
            </div>
            <div id="vanphuc" class="pos-abs" onclick="goto('/vanphuc', 2)">
                <img src="images/trace/vanphuc.png" alt="">
            </div>
            <div id="thachxa" class="pos-abs" onclick="goto('/thachxa', 3)">
                <img src="images/trace/thachxa.png" alt="">
            </div>
            <div id="vanphuc2" class="pos-abs" onclick="goto('/vanphuc2', 4)">
                <img src="images/trace/vanphuc2.png" alt="">
            </div>
            <div id="lemat" class="pos-abs" onclick="goto('/lemat', 5)">
                <img src="images/trace/lemat.png" alt="">
            </div>
            <div id="nhattan" class="pos-abs" onclick="goto('/nhattan', 6)">
                <img src="images/trace/nhattan.png" alt="">
            </div>
        </section>
    </main>




    <footer class="d-f justify-sa align-c c-8 h6-2nd bg-linear-3">
        <div>By Quynh-Anh Dao Thi - Margaret Dao</div>
        <div class="d-f justify-sa align-c g-16"><img src="images/things/mail-2.png" alt="">
            <p>quynhanhdao517@gmail.com</p>
        </div>
    </footer>

    <script>
        let cub = document.getElementById('cub')
        let battrang = document.getElementById('battrang')
        let vanphuc = document.getElementById('vanphuc')
        let thachxa = document.getElementById('thachxa')
        let vanphuc2 = document.getElementById('vanphuc2')
        let lemat = document.getElementById('lemat')
        let nhattan = document.getElementById('nhattan')

        let setOfPos = [cub, battrang, vanphuc, thachxa, vanphuc2, lemat, nhattan]

        let currentPos = 0;
        if (+localStorage.getItem('currentPos') > 0) {
            currentPos = +localStorage.getItem('currentPos')
            let clickedElement = setOfPos[currentPos]
            let parrentElement = clickedElement.offsetParent

            clickedElement = clickedElement.getBoundingClientRect()
            parrentElement = parrentElement.getBoundingClientRect()

            let cubTop = clickedElement.top - parrentElement.top
            let cubLeft = clickedElement.left - parrentElement.left

            cub.style.top = `${cubTop - 10}px`
            cub.style.left = `${cubLeft - 10}px`

        }
        function goto(url, newpos) {

            localStorage.setItem('currentPos', newpos)

            let clickedElement = setOfPos[newpos]
            let parrentElement = clickedElement.offsetParent

            clickedElement = clickedElement.getBoundingClientRect()
            parrentElement = parrentElement.getBoundingClientRect()

            let cubTop = clickedElement.top - parrentElement.top
            let cubLeft = clickedElement.left - parrentElement.left

            cub.style.top = `${cubTop - 10}px`
            cub.style.left = `${cubLeft - 10}px`

            setTimeout(() => {
                window.location.href = url
            }, 4000)
        }
    </script>

    <script src="javascripts/index.js">

    </script>
</body>

</html>