<html>

<head>
    <title>CUIMIMI</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mynerve&display=swap" rel="stylesheet">
</head>

<body>

    <nav class="d-f justify-c align-c c-2 h6-2nd t-t-u">
        <ul class="d-f justify-c align-c g-16">
            <li class=""><a href="/" class="p8 px16 ">home</a></li>
            <li class=""><a href="/dulce" class="p8 px16">dulce presente</a></li>
            <li class="active"><a href="/trace" class="p8 px16">trace the threads</a></li>
            <li class=""><a href="/insideout" class="p8 px16"><img src="images/things/mail.png" alt=""></a></li>
        </ul>
    </nav>


    <main id="vanphuc2" class="trace-content">
        <section class="trace-header c-4 h3-2nd">
            Perfect Precarity
        </section>
    </main>

    <script>
        let activeLiHtml = [
            `
              <img src="/images/things/quote-left.png" alt="">
              home
              <img src="/images/things/quote-right.png" alt="">
            `,
            `
              <img src="/images/things/quote-left.png" alt="">
              dulce presente
              <img src="/images/things/quote-right.png" alt="">
            `,
            `
              <img src="/images/things/quote-left.png" alt="">
              trace the threads
              <img src="/images/things/quote-right.png" alt="">
            `,
            `
              <img src="/images/things/quote-left.png" alt="">
              <img src="/images/things/mail.png" alt="">
              <img src="/images/things/quote-right.png" alt="">
            `
        ]
        let normalLiHtml = [
            `<a href="/" class="p8 px16 ">home</a>`,
            `<a href="/dulce" class="p8 px16 ">dulce presente</a>`,
            `<a href="/trace" class="p8 px16 ">trace the threads</a>`,
            `<a href="/insideout" class="p8 px16 "><img src="images/things/mail.png" alt=""></a>`
        ]
        //active nav
        let lis = document.querySelectorAll('nav li');
        activeNav();
        function activeNav() {
            lis.forEach((li, index) => {
                if (li.classList.contains('active')) {
                    li.innerHTML = activeLiHtml[index]
                } else {
                    li.innerHTML = normalLiHtml[index]
                }
            })
        }


        //add active class when click
        lis.forEach(li => {
            li.addEventListener('click', () => {
                lis.forEach(li => {
                    li.classList.remove('active')
                })
                li.classList.add('active')
                activeNav()
            })
        })
    </script>
</body>

</html>