<html>

<head>
    <title>CUIMIMI</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mynerve&display=swap" rel="stylesheet">
</head>

<body>

    <nav class="d-f justify-c align-c c-2 h6-2nd t-t-u">
        <ul class="d-f justify-c align-c g-16">
            <li class=""><a href="/" class="p8 px16 ">home</a></li>
            <li class=""><a href="/dulce" class="p8 px16">dulce presente</a></li>
            <li class="active"><a href="/trace" class="p8 px16">trace the threads</a></li>
            <li class=""><a href="/insideout" class="p8 px16"><img src="images/things/mail.png" alt=""></a></li>
        </ul>
    </nav>


    <main id="vanphuc-content" class="trace-content mt-76 pb-80">
        <div style="max-width: 1368px; margin: auto;">
            <section class="trace-header c-4 h3-2nd">
                MADE-IN-VIETNAM
            </section>
            <section class="gallery poem-container p20">
                <div>
                    <img src="images/vanphuc/cover.png" alt="vanphuc cover">
                </div>
                <div class="poem-length h6-2nd p16 ">
                    <span class="gradient-text bg-linear-4 d-i-b">37 images</span>
                </div>
            </section>
            <section style="white-space: pre;" class="h6-2nd">
                Hanoi was at dawn, but thick sheets of clouds had blotted out the rising Sun. The city was still pretty much asleep,
                seemingly unenthused with the cross-city motorbike ride that I was about to embark on with my fellow photographer, the
                destination being the legendary Vạn Phúc Silk Village. 
                
                With over 1000 years of sericulture, Vạn Phúc Silk Village is the Oldest Operating Silk Weaving Craft Village, as
                honored by the Vietnam Records Book Center*. Vạn Phúc Silk is considered to be Vietnam’s best for quality and
                sophistication**. Boasting a wide variety of original decoration patterns developed and refined by the village’s
                artisans through centuries, it was the prime material for court outfits in feudal times and continues to be a popular
                fabric with fashion enthusiasts and ordinary people alike**.
                
                Nowadays, Vạn Phúc Silk Village stands proudly as Vietnam’s enduring center of quality silk production and exports,
                developing its reputation as a cultural must-see for tourists near and far**.
                
                I arranged my trip on a Monday morning to have the whole village to myself, knowing how crowded it could be in business
                mode. Vạn Phúc without its usual bustling atmosphere - when the street is draped in rich hues of silk products displayed
                vividly by the parade of shiny stores, full to the brim with visitors - was, rather awkwardly, residential. Local people
                were emerging from the alleys tucked behind the main shopping street: getting breakfast, going to school, or their day
                job, while businesses were still in a slumber.
                
                After exploring the modest but serene Vạn Phúc Temple, we filled our stomachs with a hearty bowl of sticky rice from a
                street stall, parked on an elevated area opposite the solemn Vạn Phúc Shrine, which pays tribute to the patron saint of
                the village’s silk weaving. Local vendors and stores are concentrated in this part of the town, only the size of a
                basketball pitch, away from the main shopping street.
                
                We were immersed in the atmosphere of a normal Monday morning in Vạn Phúc: elders sitting outside, chatting away with
                each other; grandmas, solo or in groups, bargaining prices with hawkers, parents, and kids, both in uniforms, wolfing
                down their foods at breakfast vendors. From their outfit, we could make out a bank teller, a real estate broker, and
                some other office jobs, …which left me wondering: If these native villagers have switched to white-collar professions,
                who are keeping the silk weaving craft alive?
                
                Our second stop was the Vạn Phúc Silk Conservation and Development Center, located at the end of the main shopping
                street, a straight walk from the village’s gate. 
                
                Right from the entrance, we heard an eerie resounding sound like a metal monster was chomping its breakfast. All alone
                in the unlit center, we followed the echoes to a glowing store; its glass windows veiled from the inside by unclothed
                mannequins and curious machines. 
                
                Inside, there was no monster, but an imposing Jacquard loom operating at its full speed in the back room of a luxury
                silk boutique. Like a magnificent orchestral performance, the piece of pearly white silk with floral patterns lengthened
                after each synchronized movement of the boat shuttle and the heddles. The conductor was lost in his work, only leaving
                his spot to check on the thread-winding machine. 
                
                “Erm, this is kinda…unaesthetic.”
                My friend said, hushedly, eyes glued to the camera. 
                “Huh?”
                “This is no craft village!”
                
                I was startled - his comment was stark, but I couldn’t disagree. A time-worn weaving machine loudly threading its
                centuries-old heritage looked like a misplaced artifact inside the brightly illuminated, air-conditioned kiosk. Next to
                it, an equally ancient loom lay idle, unused. To me, that image seemed more… befitting against this backdrop. But where
                did I adopt the idea that the past is not supposed to co-exist with the present?
                
                Other shops inside the center were still closed, so we decided to come back another time. The same blaring sound led us
                to a different workshop, a musty and dimly lit one, the kind we saw in documentaries. 
                
                The quaint one-story house encapsulated the essence of a traditional Vạn Phúc. Red lanterns casually dangled from the
                ceiling, while packets of thread spools hung onto the looms, by the side of the artisans.  Heavy rolls of Jacquard punch
                cards were stacked on top of dormant machines; thick veil time showed a prime time long passed for these patterns. In
                other corners of the room, thread-winding machines hummed busily; new spools and bobbins slowly thickened from their
                tireless spins. And on the floor, sun rays pirouetted. 
                
                Deafened by the roaring of the looms, we were absorbed in the vibrant working atmosphere of the workshop. The
                decades-old weaving titans domesticated by the artisans, diligently combined threads into new lengths of silk, reading
                instructions from the punch cards. The senior craftswomen, comfy in their casual wear, oversaw the work. 
                
                It is hard to envision a young person doing this manual job. Spending hours under blinding LED bulbs, hunching over an
                ear-splitting machine in a fan-cooled workshop can only be justified with a generous salary for those growing up in the
                age of technology and automation. And, indeed, most young people making a living out of silk in Vạn Phúc Village are
                retailers or cashiers for boutiques, while those who wove have been weaving for decades.  
                
                By the time we left the workshop, the Vạn Phúc Silk Market had begun to open. Greeting us along the street were racks of
                clothes in various colors and styles that, paradoxically,  looked the same as those sold in conventional markets. And
                they were incredibly cheap, ranging from 50.000 VND to 150.000 VND.  But such a price comes with a “Made In China” tag.
                “For real? Made In China?” - My friend’s wide-eyed reaction received quizzical looks from the retailers setting up their
                outdoor display stands. I had seen it coming, however.
                
                In 2017, Khaisilk, a world-renowned Vietnamese silk brand, was exposed for reselling Chinese products with a
                Made-In-Vietnam tag. The brand eventually admitted to having imported silk from China instead of Vietnamese silk
                villages like Vạn Phúc since the 1990s, just 10 years after its inception due to lower costs and greater
                “availability”.  This scandal left an indelible stain on Vietnam’s silk-making heritage for domestic and international
                customers alike, as Khaisilk products were widely favored as gifts by corporations and government leaders***. I was only
                a secondary student then, but the magnitude of this story shaped my juvenile perception of craft products. 
                
                In Vạn Phúc village nowadays, Chinese products are sold alongside local ones, most of which come from factories all over
                Vietnam rather than the village’s workshops. Only boutiques registered with the Vạn Phúc Silk Conservation and
                Development Center are verified to sell exclusively Vạn Phúc-made products; other shops here face no regulation but
                keen-eyed consumers if they claim to do so.
                
                But, is it right to criticize them for reselling manufactured products? 
                
                The price of a casual outfit made from Vạn Phúc silk ranges from 700.000 VND to 2.000.000 VND, and that of traditional
                attires is even higher. The particularity of the material, combined with such hefty price tags, renders Vạn Phúc goods
                appealing to a limited base of consumers. The COVID-19 pandemic in 2020 dealt a severe blow to the frailing industry of
                handmade craft, forced tens of workshops and boutiques to close permanently, and normalized the omnipresence of cheap,
                mass-produced products in Vạn Phúc - branded stores****.
                
                Saying goodbye to Vạn Phúc Village, we headed home when the sky was about to rain. I used to claim myself a Pluviophile
                - a lover of the rain - when Dad still ferried me everywhere in his Mazda. Now that I had weathered heavy downpours
                riding my motorbike, I no longer saw raining clouds with googly eyes. 
                
                Perhaps, we always lament the loss of a craft because we are sheltered from the daily struggles of those trying to keep
                it alive…?
                *https://vietnamtourism.gov.vn/post/13863
                **https://baosonla.vn/van-hoa-xa-hoi/van-phuc-ngan-nam-song-lua-LHdJa6lSg.html
                ***https://tienphong.vn/event/khaisilk-be-boi-gian-lan-hang-hoa-2207.tpo
                ****https://laodong.vn/thi-truong/lua-trung-quoc-ban-cong-khai-tai-lang-lua-lau-doi-nhat-viet-nam-574311.ldo

            </section>
        </div>

        <section id="preview">
            <div class="poem-prev">
                <img src="images/things/arrow-left.png" alt="">
            </div>
            <div id="poem-preview"></div>
            <div class="poem-next">
                <img src="images/things/arrow-right.png" alt="">
            </div>
        </section>
    </main>

    <footer class="d-f justify-sa align-c c-8 h6-2nd bg-linear-3">
        <div>By Quynh-Anh Dao Thi - Margaret Dao</div>
        <div class="d-f justify-sa align-c g-16"><img src="images/things/mail-2.png" alt="">
            <p>quynhanhdao517@gmail.com</p>
        </div>
    </footer>
    <script>
        let poems = {
            1: {
                title: "MADE-IN-VIETNAM",
                thumbnail: "images/vanphuc/cover.png",
                //55 images
                imgs: [
                    "images/vanphuc/1.png",
                    "images/vanphuc/2.png",
                    "images/vanphuc/3.png",
                    "images/vanphuc/4.png",
                    "images/vanphuc/5.png",
                    "images/vanphuc/6.png",
                    "images/vanphuc/7.png",
                    "images/vanphuc/8.png",
                    "images/vanphuc/9.png",
                    "images/vanphuc/10.png",
                    "images/vanphuc/11.png",
                    "images/vanphuc/12.png",
                    "images/vanphuc/13.png",
                    "images/vanphuc/14.png",
                    "images/vanphuc/15.png",
                    "images/vanphuc/16.png",
                    "images/vanphuc/17.png",
                    "images/vanphuc/18.png",
                    "images/vanphuc/19.png",
                    "images/vanphuc/20.png",
                    "images/vanphuc/21.png",
                    "images/vanphuc/22.png",
                    "images/vanphuc/23.png",
                    "images/vanphuc/24.png",
                    "images/vanphuc/25.png",
                    "images/vanphuc/26.png",
                    "images/vanphuc/27.png",
                    "images/vanphuc/28.png",
                    "images/vanphuc/29.png",
                    "images/vanphuc/30.png",
                    "images/vanphuc/31.png",
                    "images/vanphuc/32.png",
                    "images/vanphuc/33.png",
                    "images/vanphuc/34.png",
                    "images/vanphuc/35.png",
                    "images/vanphuc/36.png",
                    "images/vanphuc/37.png",
                ]
            },
        }

        let currentPoem = 0;
        let currentPoemImg = 0;
        let preview = document.getElementById('preview');
        let poemPreview = document.getElementById('poem-preview');
        let poemContainers = document.querySelectorAll('.poem-container');
        let poemPrev = document.querySelector('.poem-prev');
        let poemNext = document.querySelector('.poem-next');

        poemContainers.forEach((poemContainer, index) => {
            poemContainer.addEventListener('click', () => {
                preview.style.display = 'flex';
                // poemPreview.classList.add('row-center');

                currentPoem = index + 1;
                console.log(currentPoem);
                poemPrev.style.display = 'block';
                poemPrev.style.opacity = 1;
                poemNext.style.display = 'block';
                poemNext.style.opacity = 1;
                poemPreview.innerHTML = `
                        <div> <img src="${poems[currentPoem].imgs[currentPoemImg]}" alt="${poems[currentPoem].title}"> </div>
                        `
            })
        })
        poemPrev.addEventListener('click', () => {
            currentPoemImg = currentPoemImg === 0 ? poems[currentPoem].imgs.length - 1 : currentPoemImg - 1;

            if (currentPoemImg === 0) {
                poemPrev.style.opacity = 0;
                poemPrev.style.display = 'none';
                poemNext.style.display = 'block';
                poemNext.style.opacity = 1;
            } else {
                poemNext.style.display = 'block';
                poemNext.style.opacity = 1;
                poemPrev.style.opacity = 1;
                poemPrev.style.display = 'block';
            }
            poemPreview.innerHTML = `
                        <div> <img src="${poems[currentPoem].imgs[currentPoemImg]}" alt="${poems[currentPoem].title}"> </div>
                        `
        })
        poemNext.addEventListener('click', () => {
            currentPoemImg = currentPoemImg === poems[currentPoem].imgs.length - 1 ? 0 : currentPoemImg + 1;

            if (currentPoemImg === poems[currentPoem].imgs.length - 1) {
                poemPrev.style.display = 'block';
                poemPrev.style.opacity = 1;
                poemNext.style.opacity = 0;
                poemNext.style.display = 'none';
            } else {
                poemPrev.style.display = 'block';
                poemPrev.style.opacity = 1;
                poemNext.style.display = 'block';
                poemNext.style.opacity = 1;
            }
            poemPreview.innerHTML = `
                        <div> <img src="${poems[currentPoem].imgs[currentPoemImg]}" alt="${poems[currentPoem].title}"> </div>
                        `

        })

        preview.addEventListener('click', (e) => {
            if (e.target === preview)
                preview.style.display = 'none';
        })

    </script>

    <script>
        let activeLiHtml = [
            `
              <img src="/images/things/quote-left.png" alt="">
              home
              <img src="/images/things/quote-right.png" alt="">
            `,
            `
              <img src="/images/things/quote-left.png" alt="">
              dulce presente
              <img src="/images/things/quote-right.png" alt="">
            `,
            `
              <img src="/images/things/quote-left.png" alt="">
              trace the threads
              <img src="/images/things/quote-right.png" alt="">
            `,
            `
              <img src="/images/things/quote-left.png" alt="">
              <img src="/images/things/mail.png" alt="">
              <img src="/images/things/quote-right.png" alt="">
            `
        ]
        let normalLiHtml = [
            `<a href="/" class="p8 px16 ">home</a>`,
            `<a href="/dulce" class="p8 px16 ">dulce presente</a>`,
            `<a href="/trace" class="p8 px16 ">trace the threads</a>`,
            `<a href="/insideout" class="p8 px16 "><img src="images/things/mail.png" alt=""></a>`
        ]
        //active nav
        let lis = document.querySelectorAll('nav li');
        activeNav();
        function activeNav() {
            lis.forEach((li, index) => {
                if (li.classList.contains('active')) {
                    li.innerHTML = activeLiHtml[index]
                } else {
                    li.innerHTML = normalLiHtml[index]
                }
            })
        }


        //add active class when click
        lis.forEach(li => {
            li.addEventListener('click', () => {
                lis.forEach(li => {
                    li.classList.remove('active')
                })
                li.classList.add('active')
                activeNav()
            })
        })
    </script>
</body>

</html>