<html>

<head>
    <title>CUIMIMI</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mynerve&display=swap" rel="stylesheet">
</head>

<body>

    <nav class="d-f justify-c align-c c-2 h6-2nd t-t-u">
        <ul class="d-f justify-c align-c g-16">
            <li class=""><a href="/" class="p8 px16 ">home</a></li>
            <li class="active"><a href="/trace" class="p8 px16">trace the threads</a></li>
            <li class=""><a href="/dulce" class="p8 px16">Gallery</a></li>
            <li class=""><a href="/insideout" class="p8 px16"><img src="images/things/Mail.png" alt=""></a></li>
        </ul>
    </nav>


    <main id="vanphuc2-content" class="trace-content mt-76 pb-80">
        <div style="max-width:  70%; margin: auto;">
            <section class="trace-header c-4 h3-2nd">
                AMBER
            </section>
            <section class="row-center bg-milk main-content">
                <section class="gallery-container ">
                    <div class="img-con">
                        <div class="main-img-container">
                            <img id="main-image" src="images/vanphuc2/1.png" alt="">
                        </div>
                        <div class="prev" onclick="changeSlide(-1)">
                            <img src="images/things/arrow-left.png" alt="">
                        </div>
                        <div class="next" onclick="changeSlide(1)">
                            <img src="images/things/arrow-right.png" alt="">
                        </div>
                    </div>
                    <div class="preview-container">
                        <!-- to be handle using js -->
                    </div>
                </section>
                <section class="text-content p20 h6-2nd"> </section>
            </section>
        </div>

        <div class="t-t-c col-center"><a href="/trace" class="h5-2nd bg-linear-1 gradient-text">go back</a></div>
    </main>

    <footer class="d-f justify-sa align-c c-8 h6-2nd bg-linear-3">
        <div>By Quynh-Anh Dao Thi - Margaret Dao</div>
        <div class="d-f justify-sa align-c g-16"><img src="images/things/mail-2.png" alt="">
            <p>quynhanhdao517@gmail.com</p>
        </div>
    </footer>
    <script>
        let blocks = [
            `I visited Vạn Phúc Silk Village for the second time on my own in the late morning of a sunny Friday, right after class. This time, the village was fully awake.`,
            `As Typhoon Yagi tore down the sky of multicolored umbrellas, Vạn Phúc was bathed in the Sun’s amber. The main shopping street was vibrant and bustling with every store showcasing a dazzling array of merchandise. Groups of tourists popped in and out of boutiques, some beaming with pride in fresh silk garments. The vivacity of female visitors, born fashion enthusiasts, infused the street with life. Their infectious cheerfulness was a balm for my heart, as I was feeling out of place with my school uniform and a camera slung on my neck.`,
            `I revisited the workshops I’d been to on my previous trip. This time, I had the chance to talk to the artisans, who revealed to me that the jacquard looms from Mr. Triệu Văn Mão’s workshop were hundreds of years old or that creating a new weaving pattern entailed meticulous geometric calculations (the process of transferring a design onto the punch cards scrunched me up more than logarithms and limits). However, nothing could compare with a comprehensive how-to of silk production from a seasoned weaver from Mr. Mão's workshop, whose voice magically glided through the drowning noise of three looms in full force and guided me through the process from start to finish.`,
            `Vạn Phúc Silk's journey begins with a delicate balance of nature and nurture. Mulberry trees, carefully cultivated, provide sustenance for the industrious silkworms, whose health directly influences the silk's quality. Skilled artisans extract the delicate silk threads from the cocoons through reeling, a task that, while now aided by modern machinery, still requires a human touch to ensure the silk's integrity. The threads are then straightened, wound onto spools, and shipped to workshops for weaving.`,
            `The next process - weaving - is a marvel of precision and artistry. The threads are meticulously arranged on the loom, their interlacing forming intricate patterns that define Vạn Phúc silk. Dyeing adds a vibrant palette to the fabric, which involves careful purification and precise measurements to achieve the desired hues. After washing and drying, the silk is ready to be showcased, made into products, or sold to discerning customers. From the cultivation of mulberry trees to the intricate processes of reeling, weaving, and dyeing, each step contributes to the creation of truly exquisite silk.`,
            `After the craft tutorial crash course, I lingered on to watch an artisan delicately loosening a knot in the shimmering silk threads. Perhaps, the challenge of balancing cultural preservation with economic development is a knot woven into the very fabric of Vạn Phúc's future. It remains to be seen whether this entanglement of traditional and modern interests will prove a mere glitch. Or will it permanently mar the tapestry of silk-making history?`,
            `One obvious thing, though, is that my exploration of Hanoi's cultural twilights was far from over, and Vạn Phúc Silk Village would forever remain an amber memory.`
        ]

        let images = [
            { src: 'images/vanphuc2/1.png', type: 'landscape' },
            { src: 'images/vanphuc2/9.png', type: 'landscape' },
            { src: 'images/vanphuc2/8.png', type: 'landscape' },
            { src: 'images/vanphuc2/2.png', type: 'landscape' },
            { src: 'images/vanphuc2/10.png', type: 'landscape' },
            { src: 'images/vanphuc2/11.png', type: 'landscape' },
            { src: 'images/vanphuc2/21.png', type: 'landscape' },
            { src: 'images/vanphuc2/18.png', type: 'landscape' },
            { src: 'images/vanphuc2/15.png', type: 'landscape' },
            { src: 'images/vanphuc2/13.png', type: 'landscape' },
            { src: 'images/vanphuc2/16.png', type: 'landscape' },
            { src: 'images/vanphuc2/19.png', type: 'landscape' },
            { src: 'images/vanphuc2/7.png', type: 'landscape' },
        ]
    </script>
    <script src="javascripts/trace.js"></script>

    <script src="javascripts/index.js">

    </script>
</body>

</html>