<html>

<head>
    <title>CUIMIMI</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mynerve&display=swap" rel="stylesheet">
</head>

<body>

    <nav class="d-f justify-c align-c c-2 h6-2nd t-t-u">
        <ul class="d-f justify-c align-c g-16">
            <li class=""><a href="/" class="p8 px16 ">home</a></li>
            <li class="active"><a href="/trace" class="p8 px16">trace the threads</a></li>
            <li class=""><a href="/dulce" class="p8 px16">Gallery</a></li>
            <li class=""><a href="/insideout" class="p8 px16"><img src="images/things/Mail.png" alt=""></a></li>
        </ul>
    </nav>


    <main id="vanphuc-content" class="trace-content mt-76 pb-80">
        <div style="max-width:  70%; margin: auto;">
            <section class="trace-header c-4 h3-2nd">
                MADE-IN-VIETNAM
            </section>
            <section class="row-center bg-milk main-content">
                <section class="gallery-container ">
                    <div class="img-con">
                        <div class="main-img-container">
                            <img id="main-image" src="images/battrang/62.png" alt="">
                        </div>
                        <div class="prev" onclick="changeSlide(-1)">
                            <img src="images/things/arrow-left.png" alt="">
                        </div>
                        <div class="next" onclick="changeSlide(1)">
                            <img src="images/things/arrow-right.png" alt="">
                        </div>
                    </div>
                    <div class="preview-container">
                        <!-- to be handle using js -->
                    </div>
                </section>
                <section class="text-content p20 h6-2nd"> </section>
            </section>
        </div>

        <div class="t-t-c col-center"><a href="/trace" class="h5-2nd bg-linear-1 gradient-text">go back</a></div>
    </main>

    <footer class="d-f justify-sa align-c c-8 h6-2nd bg-linear-3">
        <div>By Quynh-Anh Dao Thi - Margaret Dao</div>
        <div class="d-f justify-sa align-c g-16"><img src="images/things/mail-2.png" alt="">
            <p>quynhanhdao517@gmail.com</p>
        </div>
    </footer>
    <script>
        let blocks = [
            `Hanoi was at dawn, but thick sheets of clouds had blotted out the rising Sun. The city was still pretty much asleep, seemingly unenthused with the cross-city motorbike ride that I was about to embark on with my fellow photographer, the destination being the legendary Vạn Phúc Silk Village. `,
            `With over 1000 years of sericulture, Vạn Phúc Silk Village is the Oldest Operating Silk Weaving Craft Village, as honored by the Vietnam Records Book Center. Vạn Phúc Silk is considered to be Vietnam’s best for quality and sophistication. Boasting a wide range of original decoration patterns developed and refined by the village’s artisans through centuries, it was the prime material for court outfits in feudal times and continues to be popular with fashion enthusiasts and ordinary people alike.`,
            `Nowadays, Vạn Phúc Silk Village stands proudly as Vietnam’s enduring center of quality silk production and exports, developing its reputation as a cultural must-see for tourists near and far.`,
            `I arranged my trip on a Monday morning to have the whole village to myself, knowing how crowded it could be in business mode. Vạn Phúc without its usual bustling atmosphere - when the street is draped in rich hues of silk products displayed vividly by the parade of shiny stores, full to the brim with visitors - was, rather awkwardly, residential. Local people were emerging from the alleys tucked behind the main shopping street: getting breakfast, going to school, or their day job, while businesses were still in a slumber.`,
            `After exploring the modest but serene Vạn Phúc Temple, we filled our stomachs with a hearty bowl of sticky rice from a street stall, parked on an elevated area opposite the solemn Vạn Phúc Shrine, which pays tribute to the patron saint of the village’s silk weaving. Local vendors and stores are concentrated in this part of the town, only the size of a basketball pitch, away from the main shopping street.`,
            `We were immersed in the atmosphere of a normal Monday morning in Vạn Phúc: elders sitting outside, chatting away with each other; grandmas, solo or in groups, bargaining prices with hawkers, parents, and kids, both in uniforms, wolfing down their foods at breakfast vendors. From their outfit, we could make out a bank teller, a real estate broker, and some other office jobs, …which left me wondering: If these native villagers have switched to white-collar professions, who are keeping the silk weaving craft alive?`,
            `Our second stop was the Vạn Phúc Silk Conservation and Development Center, located at the end of the main shopping street, a beeline from the village’s gate`,
            `Right from the entrance, we heard an eerie resounding sound like a metal monster was chomping its breakfast. All alone in the unlit center, we followed the echoes to a glowing store; its glass windows veiled from the inside by unclothed mannequins and curious machines`,
            `Inside, there was, sadly,  no monster, but an imposing Jacquard loom operating at its full speed in the back room of a luxury silk boutique. Like a magnificent orchestral performance, the piece of pearly white silk with floral patterns lengthened after each synchronized movement of the boat shuttle and the heddles. The conductor was lost in his work, only leaving his spot to check on the thread-winding machine.`,
            `“Erm, this is kinda…unaesthetic.” <br>My friend said, hushedly, eyes glued to the camera.<br>“Huh?”<br>“This is no craft village!”`,
            `I was startled - his comment was stark, but I couldn’t disagree. A time-worn weaving machine loudly threading its centuries-old heritage looked like a misplaced artifact inside the brightly illuminated, air-conditioned kiosk. Next to it, an equally ancient loom lay idle, unused. To me, that image seemed more… befitting against this backdrop. But where did I adopt the idea that the past is not supposed to co-exist with the present?<br>Other shops inside the center were still closed, so we decided to come back another time. The same blaring sound led us to a different workshop, a musty and dimly lit one, the kind we saw in documentaries.`,
            `The quaint one-story house encapsulated the essence of a traditional Vạn Phúc. Red lanterns casually dangled from the ceiling, while packets of thread spools hung onto the looms, by the side of the artisans.  Heavy rolls of Jacquard punch cards were stacked on top of dormant machines; thick veil time showed a prime time long passed for these patterns. In other corners of the room, thread-winding machines hummed busily; new spools and bobbins slowly thickened from their tireless spins. And on the floor, sun rays pirouetted.`,
            `The quaint one-story house encapsulated the essence of a traditional Vạn Phúc. Red lanterns casually dangled from the ceiling, while packets of thread spools hung onto the looms, by the side of the artisans.  Heavy rolls of Jacquard punch cards were stacked on top of dormant machines; thick veil time showed a prime time long passed for these patterns. In other corners of the room, thread-winding machines hummed busily; new spools and bobbins slowly thickened from their tireless spins. And on the floor, sun rays pirouetted.`,
            `It is hard to envision a young person doing this manual job. Spending hours under blinding LED bulbs, hunching over an ear-splitting machine in a fan-cooled workshop can only be justified with a generous salary for those growing up in the age of technology and automation. And, indeed, most young people making a living out of silk in Vạn Phúc Village are retailers or cashiers for boutiques, while those who wove have been weaving for decades.`,
            `By the time we left the workshop, the Vạn Phúc Silk Market had begun to open. Greeting us along the street were racks of clothes in various colors and styles that, paradoxically,  looked the same as those sold in conventional markets. And they were incredibly cheap, ranging from 50.000 VND to 150.000 VND.  But such a price comes with a “Made In China” tag.`,
            `“For real? Made In China?” My friend’s wide-eyed reaction received quizzical looks from the retailers setting up their outdoor display stands. I had seen it coming, however.`,
            `In 2017, Khaisilk, a world-renowned Vietnamese silk brand, was exposed for reselling Chinese products with a Made-In-Vietnam tag. The brand eventually admitted to having imported silk from China instead of Vietnamese silk villages like Vạn Phúc since the 1990s, just 10 years after its inception due to lower costs and greater “availability”.  This scandal left an indelible stain on Vietnam’s silk-making heritage for domestic and international customers alike, as Khaisilk products were widely favored as gifts by corporations and government leaders. I was only a secondary student then, but the magnitude of this story shaped my juvenile perception of craft products.`,
            `In Vạn Phúc village nowadays, Chinese products are sold alongside local ones, most of which come from factories all over Vietnam rather than the village’s workshops. Only boutiques registered with the Vạn Phúc Silk Conservation and Development Center are verified to sell exclusively Vạn Phúc-made products; other shops here face no regulation but keen-eyed consumers if they claim to do so.`,
            `But, is it right to criticize them for reselling manufactured products?`,
            `The price of a casual outfit made from Vạn Phúc silk ranges from 700.000 VND to 2.000.000 VND, and that of traditional attires is even higher. The particularity of the material, combined with such hefty price tags, renders Vạn Phúc goods appealing to a limited base of consumers. The COVID-19 pandemic in 2020 dealt a severe blow to the frailing industry of handmade craft, forced tens of workshops and boutiques to close permanently, and normalized the omnipresence of cheap, mass-produced products in Vạn Phúc - branded stores.`,
            `Saying goodbye to Vạn Phúc Village, we headed home when the sky was about to rain. I used to claim myself a Pluviophile - a lover of the rain - when Dad still ferried me everywhere in his Mazda. Now that I had weathered heavy downpours riding my motorbike, I no longer saw raining clouds with googly eyes.`,
            `Perhaps, we always lament the loss of a craft because we are sheltered from the daily struggles of those trying to keep it alive…?`
        ]

        let images = [
            { src: 'images/vanphuc/1.png', type: 'landscape' },
            { src: 'images/vanphuc/3.png', type: 'landscape' },
            { src: 'images/vanphuc/4.png', type: 'landscape' },
            { src: 'images/vanphuc/9.png', type: 'landscape' },
            { src: 'images/vanphuc/11.png', type: 'landscape' },
            { src: 'images/vanphuc/12.png', type: 'landscape' },
            { src: 'images/vanphuc/17.png', type: 'landscape' },
            { src: 'images/vanphuc/14.png', type: 'portrait' },
            { src: 'images/vanphuc/16.png', type: 'landscape' },
            { src: 'images/vanphuc/22-5.png', type: 'portrait' },
            { src: 'images/vanphuc/23.png', type: 'portrait' },
            { src: 'images/vanphuc/27.png', type: 'landscape' },
            { src: 'images/vanphuc/26.png', type: 'landscape' },
            { src: 'images/vanphuc/31.png', type: 'landscape' },
            { src: 'images/vanphuc/30.png', type: 'landscape' },
            { src: 'images/vanphuc/34.png', type: 'portrait' },
            { src: 'images/vanphuc/32.png', type: 'landscape' },
            { src: 'images/vanphuc/33.png', type: 'landscape' },
        ]
    </script>
    <script src="javascripts/trace.js"></script>

    <script src="javascripts/index.js">

    </script>
</body>

</html>