* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --deep-green: #1e3a48;
  --dark-green: #2c4e57;
  --light-green: #5c7f79;
  --old-red-brown: #842521;
  --red-brown: #ad4a3b;
  --pink: #dd9a89;
  --light-pink: #efc9b4;
  --milk: #f3e7d1;
}

body {
  font: 14px "Mynerve", cursive;
}

a {
  color: var(--dark-green);
  text-decoration: none;
}

li {
  list-style-type: none;
}

.mynerve {
  font-family: "Mynerve", cursive;
}

.h9-2nd {
  font-size: 12px;
  line-height: 120%;
}
.h8-2nd {
  font-size: 14px;
  line-height: 120%;
}
.h7-2nd {
  font-size: 18px;
  line-height: 120%;
}
.h6-2nd {
  font-size: 24px;
  line-height: 120%;
}
.h5-2nd {
  font-size: 28px;
  line-height: 120%;
}
.h4-2nd {
  font-size: 35px;
  line-height: 120%;
}
.h3-2nd {
  font-size: 44px;
  line-height: 120%;
}
.h2-2nd {
  font-size: 55px;
  line-height: 120%;
}
.h1-2nd {
  font-size: 69px;
  line-height: 120%;
}

.c-1 {
  color: var(--deep-green);
}
.c-2 {
  color: var(--dark-green);
}
.c-3 {
  color: var(--light-green);
}
.c-4 {
  color: var(--old-red-brown);
}
.c-5 {
  color: var(--red-brown);
}
.c-6 {
  color: var(--pink);
}
.c-7 {
  color: var(--light-pink);
}
.c-8 {
  color: var(--milk);
}
.bg-milk {
  background-color: var(--milk);
}

.t-t-u {
  text-transform: uppercase;
}
.t-t-c {
  text-transform: capitalize;
}
.t-t-l {
  text-transform: lowercase;
}

.d-i-b {
  display: inline-block;
}
.d-f {
  display: flex;
}
.f-d-c {
  flex-direction: column;
}
.f-d-r {
  flex-direction: row;
}
.justify-c {
  justify-content: center;
}
.justify-sb {
  justify-content: space-between;
}
.justify-sa {
  justify-content: space-around;
}
.align-c {
  align-items: center;
}
.align-sta {
  align-items: start;
}
.col-center {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.row-center {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.g-16 {
  gap: 16px;
}
.g-20 {
  gap: 20px;
}
.g-100 {
  gap: 100px;
}
.g-160 {
  gap: 160px;
}
.p8 {
  padding: 8px;
}
.p10 {
  padding: 10px;
}
.p20 {
  padding: 20px;
}
.px16 {
  padding-left: 16px;
  padding-right: 16px;
}
.pb-80 {
  padding-bottom: 80px;
}
.mt-76 {
  margin-top: 76px;
}

.pos-abs {
  position: absolute;
}

nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 76px;
  background-color: var(--milk);
  background-image: url("../images/nav_bg.png");
}

nav li.active {
  display: flex;
  justify-content: center;
  align-items: start;
}

main {
  background-image: url("../images/bg.png");
  background-color: var(--milk);
  background-blend-mode: overlay;
}

footer {
  height: 80px;
}

.bg-linear-1 {
  background: linear-gradient(90deg, var(--pink) 0%, var(--dark-green) 100%);
}
.bg-linear-2 {
  background: linear-gradient(90deg, var(--pink) 0%, var(--light-green) 100%);
}
.bg-linear-3 {
  background: linear-gradient(90deg, #6f2421 0%, #b25546 100%);
}
.bg-linear-4 {
  background: linear-gradient(90deg, #dd9a89 0%, #96483c 100%);
}
.bg-linear-5 {
  background: linear-gradient(90deg, #5c7f79 0%, #38636e 100%);
}
.bg-linear-6 {
  background: linear-gradient(90deg, #2c4e57 0%, #3b6976 100%);
}

#dulce > div {
  max-width: 1200px;
  padding: 20px;
  background-color: #fcf6e8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#dulce > div > img {
  width: 100%;
  height: auto;
}

#insideout {
  background: url("../images/insideout/bg 1.png"), var(--milk);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
}
#insideout #main-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  margin: auto;
  max-width: 1368px;
  gap: 10px;
}

.poem-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fcf6e8;
  cursor: pointer;
}
.poem-container img {
  width: 100%;
}
.gradient-text {
  -webkit-background-clip: text;
  color: transparent;
}
#preview {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  justify-content: center;
  align-items: center;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
}

#poem-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 70%;
  max-height: 100vh;
  overflow-y: auto;
}

.poem-prev,
.poem-next {
  cursor: pointer;
  transition: opacity 1s ease-in-out;
}

#trace #main-body {
  position: relative;
  margin: auto;
  width: 1442px;
  aspect-ratio: 1442/966;
  background-image: url("../images/trace/main-bg.png");
}

#trace #main-body img {
  width: 100%;
  transition: all 0.5s ease-in-out;
}

#trace #main-body img:hover {
  rotate: 360deg;
  scale: 1.2;
}

#cub {
  width: 244px;
  top: 113px;
  left: 85px;
  z-index: 2;
  transition: top 3s, left 3s;
}
#battrang {
  top: 143px;
  left: 530px;
}
#vanphuc {
  top: 60px;
  left: 912px;
}
#thachxa {
  top: 324px;
  left: 1171px;
}
#vanphuc2 {
  top: 563px;
  left: 904px;
}
#lemat {
  top: 576px;
  left: 530px;
}
#nhattan {
  top: 602px;
  left: 132px;
}
.trace-content {
  background: url("../images/bg.png"), var(--milk);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: lighten;
}

.max-width-60p {
  max-width: 60%;
}
